html, body {
    max-width: 100%;
    font-family: "Garamond", Serif; 
    margin: 0px; 
}

.background-image{
    background-image: url('../assets/background.jpg');
    background-size: cover;
}

.section{
    position: relative;
}

.anchor {
    position: absolute;
    top: -80px;
    visibility: hidden;
} 

.titulo{
    color: black;
    font-weight: bold;
    font-size: 45px;
    transition: all 0.25s;
    justify-content: center;
    align-items: center;
    display: flex;
}


.aspirations{
    font-size:30px;
    display:flex;
    flex-direction: column;
    margin: 20px 100px 50px 100px;
}

.button-cv{
    font-size:25px;
    background-color:rgb(184, 187, 194);
    color: #fff;
    width:100px;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    border:none;
    justify-content: center;


}

.aspirations :hover{
    color:#2b2bd8b2
}



.skillset{
    padding:40px;
    display:flex;
    column-gap: 150px;
    row-gap: 50px;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
}

.imagenes{
    mix-blend-mode: multiply;
}


.imagenes:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(39, 219, 69, 0.2);
}

.picture-label{
    font-size:25px;

}


.categoria-proyectos{
    font-size: 25px;
    color:lightskyblue
}







