*{
  margin:0;
  box-sizing: border-box;
}


.header{
  background-color:#0769e9;
  height:80px;
  width:100%;
  left:0;
  margin-top: 150px;
}


.fixed{
  position:sticky;
  top:0;

}

.my-navbar{
  display:flex;
  justify-content:space-between;
  max-width: 992px;
  margin:0 auto;
}

.navbar-link{
  color:white;
  text-decoration: none;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.navbar-menu{
  display:flex;
  margin-right: 40px;
  list-style:none
}

.navbar-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height:80px;
  text-transform: uppercase;
  width:max-content;
}

.navbar-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}


.navbar-menu-link:hover, navbar-menu-link_active{
  background-color: #034574;
  transition: 0.5s;
}


.nav-toggle{
  color:white;
  background:none;
  border:none;
  font-size: 30px;
  padding: 0 20px;
  line-height:60px;
  display:none;
  cursor:pointer;
}

@media (max-width:768px){

  .header{
    height:60px;
  }

  .logo{
    font-size:25px;
    line-height: 60px;
  }

  .navbar-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    background-color: #2c3e50;
    position: fixed;
    left:0;
    top:60px;
    width:100%;
    padding:20px 0;
    height:calc(100%-60px);
    overflow-y:auto;
    left:100%;
    transition: left 0.3s;
  }

  .navbar-menu-item{
    line-height:70px;
  }

  .navbar-menu-link:hover, navbar-menu-link_active{
    background: none;
    color:#83c5f7;
  }

  .nav-toggle{
    display:block;
  }

  .nav-menu-visible{
    left:0;
  }


}
